<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <label for="">name</label>
    <input type="text" id="name"><br><br>
    <label for="">email</label>
    <input type="email" id="email"><br><br>
    <input type="submit" id="sub">

    

    <script>
        $('#sub').click(function(){
            $.ajax({
                url:'ajeg',
                type:'POST',
                data:{
                    x : $('#name').val(),
                    y : $('#email').val(),
                },
                success:function(response){
                    alert(response.message)
                }

            })
        })
    </script>
</body>
</html>