<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>lenovo</p>
    <script>
        // alert('danger')
        // confirm('are u ready')
     number1 = parseInt(prompt('enter first number'));
     console.log(number1);
     number2 = parseInt(prompt('enter second number'));
     console.log(number2);
    //  sum = number1 + number2
    //  alert(sum)

    if(number1 > number2) {

console.log(' greatest number is ', number1 )
    }
    else{
        console.log(' greatest number is ', number2 )
    }
     


    </script>
</body>
</html>