<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
    

        ///////function//////

        // function name(){
        //     console.log(hello')
        // }

        // name()

        ///---////
        
        //  function student(name){
        //      console.log('hello',name)
        //  }
        //  student("michel")

        ///-function + ////

        // function totalsum(mark1,mark2){
        //     console.log("total", mark1 + mark2)
        // }
        // totalsum(10,70)
        // totalsum(10,90)

        ////-average by return value-////

        //         function average(number1, number2) {
        //             sum = number1 + number2
        // avg=sum/2
        // return avg
        //         }
        //       console.log(average(20,10))

        ////function odd or even ////

//         function oddOrEven(num) {
//             if (num % 2 == 0){
//                 console.log("number is evem",num)
//             }else{
//                 console.log("number is odd",num)
//             }     
// } 
// oddOrEven(10)
// oddOrEven(11)
// oddOrEven(41)



    </script>
</body>

</html>