<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <!-- //////DOM/////// -->
    <input id="firstbox"type="number">
    <input id="secondbox"type="number">
    <button onclick="box()">add</button>
    <!-- //--// -->
    <!-- <p id="call"></p> -->
   <!-- //////-/////  -->
   <input id="text" type="text">
   <!-- ////--/// -->
   <!-- <input onclick="box()" id="checkbox" type="checkbox">
   <input style="display:none ;" id="text" type="text"> -->
<!-- ///-////// -->
   <!-- <button id="brw" onclick="box()">click</button>
   <img id="image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.w1aeLCs7JUE_f6z2LUinxgHaFj%26pid%3DApi%26h%3D160&f=1" alt=""> -->
<!-- /////----//// -->
    <!-- <button onclick="hlo()">click</button> -->
    <!-- <h1 align="center" id="hi">hello</h1> -->
    <!-- <p id="apple"></p> -->
    <!-- <script> -->
        <!-- //  document.getElementById("hi").align="center"
        

        // function hlo(){
        //  document.getElementById("hi").align="right"

        //  document.getElementById("hi").innerHTML="shahal"
< 
        //  document.getElementById("hi").style.color="red" -->
<!-- //////------/////// -->
        <!-- // document.getElementById("apple").innerHTML="SHAHAL" --> 

        <!-- } -->
<script>
     function box(){
/////---/////
   a = Number(document.getElementById('firstbox').value)
   b = Number(document.getElementById("secondbox").value)
   c=a+b
//    document.getElementById("call").innerHTML=c
   document.getElementById("text").value=c
////----////
// document.getElementById("checkbox")
// document.getElementById("text").style="display:block"

// document.getElementById("image").src="https://duckduckgo.com/i/74d776ca.jpg"

/////---////
//  console.log(a)
//  console.log(b)
//  console.log(a+b)


}

    

        


        
    </script>
</body>

</html>