<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>logic</h1><script>
//      number1 = parseInt(prompt('enter first number'));
//      console.log(number1);
//      number2 = parseInt(prompt('enter second number'));
//      console.log(number2);
//      number3 = parseInt(prompt('enter third number'));
//      if(number1 < number2) {

// console.log(' lesser number is ', number1 )
//     }

//     else if (number2 < number3){
// console.log(' lesser number is ', number2 )
//     }
//     else{
//     console.log('lesser number is', number3)
//     }

// x=10;
// y=10;
// console.log(x==y)

// x=10;
// y=10;
// console.log(x!=20)

    </script>
</body>
</html>