<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>/////-continue and break---///
        // i = 0
        // while (i < 10) {
        //     if (i == 5) {
        // break
        //     }
        //     console.log(i)
        //     i++
        // }

        ////
        // for(i=0; i<=10; i++){
        //     if(i==5){
        //         continue
        //     }
        //     console.log(i)
        // }

        ////----do while---////

        // i = 20
        // do {
        //     console.log(i)
        //     i++
        // } while (i <= 10);

        // names=["sam","sara","dan","janu"]
        // len=names.length
        // for(i=0; i<len; i++){
        //     console.log(names[i])
        //     if (names[i]=="dan"){
        //         console.log("the name exist")
        //     }
        // }
        /////////////////////////////////////
        // names=["sam","sara","dan","janu","john"]
        // for ( item of names)
        //  {
        //     console.log(item)
        // }

        ///////-----to check the element exist in an object/////

        // is_exist = false
        // name = prompt('enter a name')
        // names = ["sam", "sara", "dan", "janu", "john"]
        // for (item of names) {
        //     if (item == name) {
        //         is_exist = true;
        //     }
        // }

        // if(is_exist == true){
        //     console.log("you are in the list")

        // }else{
        //     console.log("you are out of the list")

        // }

        // /-----for in----////

        // student = {name:"sam", age:20 , place:"calicut" , gender:"male"}
        // for(item in student){
        //     console.log(student[item])
        // }

        /// --even numbers in an object---/////

        // oddObj = []
        // evenObj = []
        // numbers = [10,15,21,3,0,55,32,9]
        // for(item of numbers){
        //     if(item % 2 == 0){
        //         evenObj.push(item)
        //     }else{
        //         oddObj.push(item)
        //     }

        // }

        // console.log(evenObj)
        // console.log(oddObj)

  ///----sorting without anybuildin function---//////

        // numbers = [10, 15, 21, 3, 0, 55, 32, 9]
        // for (i = 0; i < numbers.length; i++) {
        //     for (j = i + 1; j < numbers.length; j++) {
        //         if (numbers[i] > numbers[j]) {
        //             temp = numbers[i];
        //             numbers[i] = numbers[j];
        //             numbers[j] = temp;
        //         }
        //     }
        // }
        // console.log(numbers)

        /////bubble sort/////
        
    </script>
</body>

</html>