<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input id="firstbox" type="number">

    <input id="secondbox" type="number">
    <button onclick="box()">add</button>
    <input id="text" type="text">
    <script>
        function box() {
            a = Number(document.getElementById('firstbox').value)
            b = Number(document.getElementById("secondbox").value)
            c = a + b
            document.getElementById("text").value = c
        }
        console.log(text.value)





    </script>

</body>

</html>