<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>view sellers</h1>
    <script>
        // marks = [20,40,50,100];
        // console.log(marks[3]);
        // vehicles = ['car','bike','truck'];
        // console.log(vehicles);
        // console.log(vehicles[2]);
        // items= ['car','bike','truck',20,30,true];
        // console.log(items[3]);
        // console.log(typeof(items));
        // console.log(typeof(vehicles));
        // people = { 'name1' : 'sam' ,'age' : 22 , 'place' : 'ulliyeri' , 'name' : 'sam'};
        // console.log(people);
        // console.log(typeof(people));
        // console.log(people['place']);
        // people = { 1 : 'sam' , 2: 22 , 3 : 'ulliyeri' , 4 : 'sam'};
        // console.log(people[2]);



        /////

        // function checkPalindrome(x) {
        //     let convertedNumber = x.toString();
        //     let reverseString = convertedNumber.split("").reverse().join("");
        //     return reverseString === convertedNumber ? "Yes" : "No";
        // }


        // let num = 12321;
        // console.log(checkPalindrome(num)); 


        // let number = 456;
        // console.log(checkPalindrome(number)); 

        ////fibonpcci/////


//         function fibonacci(num) {
//             sum = (num) + (num - 1)
//            {
//             if (num == 3)
//                 console.log("result",sum)
//             }

//             sum = (num) + (num - 1)
//             if (num == 5)
//              {
//                 console.log("result",sum)
//             }
          
    
//         }
// fibonacci(3)
// fibonacci(5)

///  





    </script>
</body>

</html>