<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="txt" type="text">
    <button id="btn" onclick="sort()">button</button><br>
    <label id="lbl" for=""></label>
    <script>
function sort(){
  
   name = document.getElementById("txt").value
   names = ["sam", "sara", "dan", "janu", "john"]

    for (item of names) {
        if (item == name) {
   document.getElementById("lbl").innerHTML = item       
        }
    }
}
    </script>

</body>
</html>