<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <label for="">FIRST BOX</label>
        <input type="text" id="txt"><br>
        <label for="">description</label>
       
        <button onclick="sub()">submit</button>
       

    </div>

    <ul id="myList">
       
      </ul>
      <button  onclick="reset()">delete</button>
    <script>


        function sub() {
            text = document.getElementById("txt").value;
            node = document.createElement("li");
            const textnode = document.createTextNode(text);
            node.appendChild(textnode);
            document.getElementById("myList").appendChild(node);
            
        }
        function reset(){
        document.getElementById("myList").innerHTML=""
        console.log(myList)
    }
    </script>


</body>

</html>